.DS_Store
# General macOS clutter
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Explicitly ignore .DS_Store in all subfolders (Redundant but safe)
**/.DS_Store

config.env