.bookingFormWrapper{
    background-color: white;
    width: 968px;
    height: 700px;
    border-radius: 15px;
    border: 1px solid black;
}

.bookingFormInner{

}

.bookingForm{

}

.phoneNumBlock{
    border: 1px solid black;
    border-radius: 15px;
}

.phone-prefix{
    margin:10px
}



.leftBookingBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.rightBookingBlock{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookingFields{
    display: flex;
    justify-content: space-around;
    height: 500px;
}

.bookingFields input{
    padding: 5px  5px 5px 10px ;
    width: 360px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid grey;
}

.bookingFields input:hover{
   
    border: 1.2px solid rgb(0, 0, 0);
}


#phoneNumber{
    
}
#dateTime{
    height: 45px;
    border-radius: 15px;
}

#bookingNote{
    padding: 10px  5px 5px 15px ;
    
    border-radius: 15px;
    height: 100px;
    border: 1px solid grey;
}
#bookingNote:hover{
    border: 1.2px solid rgb(0, 0, 0);
}

#phoneNumber2{
    width: 320px;
    border-radius: 0px 15px 15px 0;
}

.BookingDesc{
   
    display: flex;
    flex-direction: column;
    margin:10px 0 20px 30px;
}

.BookingDesc h3{
    margin-bottom:10px;
    font-size: 29px;
    
}

.BookingDesc p{
    
    font-size: 22px;
    color: rgb(97, 97, 97);
    margin:0;
    
}


.error{
    color:red
}
.closeImg{
    width:30px;
    height: 30px;
    margin: 0px 80px 0 0;
    cursor: pointer;
}

.closeImg:hover {
    transform: scale(1.2);
}


