.slider-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

/* Slider window */
.slider2 {
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
}

/* Track */
.slider-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

/* Slide */
.slide {
    min-width: 100%;
    height: 460px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Buttons outside */
.slider-btn {
    background: #111;
    color: #fff;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background 0.2s ease;
}

.slider-btn:hover {
    background: #000;
    transform: scale(1.1);
}

.slider-btn:active {
    transform: scale(0.95);
}

/* Responsive */
@media (max-width: 768px) {
    .slide {
        height: 300px;
    }
}
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.image-skeleton {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            #1a668f 25%,
            #5f60c0 37%,
            #0ccbdc 63%);
    background-size: 400% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
}