.ButtonWrap{
    /* width: 114px; */
    height: 45px;
    border-radius: 15px;
    border: 1px solid rgba(118, 118, 118, 1);
    font-size: 16px;
    padding: 12px;
    margin: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover{
    transform: scale(1.10);
    
}