.footer {

  background:#05070d;

  color:#94a3b8;

  border-top:
  1px solid rgba(255,255,255,0.06);

  padding-top:90px;

}





/* =========================
   MAIN CONTAINER
========================= */


.footer__container {

  max-width:1280px;

  margin:0 auto;

  padding:0 40px 80px;


  display:grid;

  grid-template-columns:
  2fr
  1fr
  1fr;


  gap:60px;


  justify-items:center;

  align-items:start;

}







/* =========================
   BRAND
========================= */


.footer__brand {


max-width:380px;


}



.footer__brand {

  max-width:380px;

  display:flex;

  flex-direction:column;

  align-items:center;

  text-align:center;

}


.footer__logo {


height:60px;


margin-bottom:25px;


}



.footer__logo img {


height:90%;

width:auto;



}



.footer__brand-name {


font-size:20px;


font-weight:600;


color:#ffffff;


margin:0 0 18px;


letter-spacing:-0.02em;


}



.footer__text {


font-size:15px;


line-height:1.8;


color:#94a3b8;


margin:0;


}









/* =========================
   TITLES
========================= */


.footer h4 {


margin:0 0 22px;


font-size:12px;


font-weight:700;


letter-spacing:.12em;


text-transform:uppercase;


color:#ffffff;


}







/* =========================
   CONTACT
========================= */


.footer__contact {

display:flex;

flex-direction:column;

align-items:center;

text-align:center;

}



.footer__contact a,


.footer__address {


display:flex;


align-items:center;


gap:10px;


text-decoration:none;


color:#94a3b8;


font-size:14px;


line-height:1.6;


margin-bottom:15px;


transition:.25s;


}



.footer__contact svg {


color:#fcfcfc;


font-size:14px;


}



.footer__contact a:hover {


color:#ffffff;


}








/* =========================
   COLUMNS
========================= */


.footer__column {

display:flex;

flex-direction:column;

align-items:center;

text-align:center;

}



.footer__social {

align-items:center;

}


.footer__social a {

justify-content:center;

}



.footer__column a,


.footer__column span {


text-decoration:none;


color:#94a3b8;


font-size:15px;


line-height:1.6;


margin-bottom:14px;


transition:.25s;


}



.footer__column a:hover {


color:white;


transform:translateX(3px);


}







/* =========================
   SOCIAL
========================= */


.footer__social a {


display:flex;


align-items:center;


gap:12px;


}



.footer__social svg {


font-size:15px;


color:#fcfcfc;


}





.footer__social span {


font-size:15px;


}









/* =========================
   BOTTOM
========================= */


.footer__bottom {

max-width:1280px;

margin:0 auto;

padding:25px 40px;


border-top:

1px solid rgba(255,255,255,0.06);


display:flex;

justify-content:center;

align-items:center;

flex-direction:column;


gap:20px;


font-size:13px;

color:#64748b;


text-align:center;

}




.footer__bottom p {


margin:0;


}




.footer__bottom div {


display:flex;


gap:25px;


flex-wrap:wrap;


}



.footer__bottom a {


text-decoration:none;


color:#fcfcfc;


transition:.25s;


}





.footer__bottom div {

display:flex;

justify-content:center;

align-items:center;

gap:25px;

flex-wrap:wrap;

}




.footer__bottom a:hover {


color:white;


}








/* =====================================
   FOOTER PROFESSIONAL RESPONSIVE SYSTEM
===================================== */


/* =========================
   DESKTOP LARGE
   1200px+
========================= */


@media(min-width:1201px){


.footer__container {

    grid-template-columns:
    2.2fr
    1fr
    1fr

    1fr;


    align-items:start;

}



.footer__brand-name {

    font-size:22px;

}



.footer__text {

    font-size:16px;

}



.footer__column a,
.footer__column span {


    font-size:16px;


}



.footer__contact a,
.footer__address {


    font-size:15px;


}



.footer h4 {


    font-size:13px;


}



}







/* =========================
   SMALL + MEDIUM LAPTOPS
   901px - 1200px
========================= */

@media(max-width:1200px) and (min-width:901px){


.footer__container {

    grid-template-columns:
    1.8fr
    1fr
    1fr
    1fr;


    justify-content:center;

    margin-left:auto;

    margin-right:auto;


    max-width:1100px;


    gap:30px;


}






.footer__brand {


    max-width:260px;


}




.footer__brand-name {


    font-size:19px;


}



.footer__text {


    font-size:14px;


    line-height:1.7;


}




.footer h4 {


    font-size:11px;


    margin-bottom:18px;


}





.footer__column a,

.footer__column span {


    font-size:14px;


    margin-bottom:11px;


}




.footer__contact a,

.footer__address {


    font-size:13px;


    gap:7px;


    margin-bottom:12px;


}




.footer__social a {


    gap:8px;


}


.footer__social svg {


    font-size:14px;


}


}





/* =========================
   TABLET
   600 - 900
========================= */


@media(max-width:900px){


.footer {


    padding-top:70px;


}



.footer__container {


    display:flex;


    flex-direction:column;


    align-items:center;


    justify-content:center;


    gap:45px;


    padding:0 30px 60px;


}



.footer__brand,
.footer__contact,
.footer__column {


    width:100%;


    display:flex;


    flex-direction:column;


    align-items:center;


    text-align:center;


}



.footer__brand {


    max-width:600px;


}



.footer__text {


    font-size:17px;


    max-width:500px;


}



.footer__brand-name {


    font-size:24px;


}



.footer h4 {


    font-size:15px;


    margin-bottom:20px;


}



.footer__column a,
.footer__column span {


    font-size:18px;


    margin-bottom:15px;


}



.footer__contact a,
.footer__address {


    font-size:17px;


    justify-content:center;


}



.footer__social a {


    justify-content:center;


}



}









/* =========================
   MOBILE
   600px-
========================= */


@media(max-width:600px){


.footer {


    padding-top:60px;


}



.footer__container {


    display:flex;


    flex-direction:column;


    align-items:center;


    justify-content:center;


    width:100%;


    gap:50px;


    padding:0 20px 50px;


}



.footer__brand {


    width:100%;


    display:flex;


    align-items:center;


    text-align:center;


}



.footer__logo {


    display:flex;


    justify-content:center;


    width:100%;


}



.footer__brand-name {


    font-size:25px;


}



.footer__text {


    font-size:18px;


    line-height:1.8;


    max-width:330px;


    text-align:center;


}





.footer__contact {


    width:100%;


    align-items:center;


    text-align:center;


}



.footer__contact a,
.footer__address {


    font-size:17px;


    justify-content:center;


    text-align:center;


    overflow-wrap:anywhere;


}




.footer__column {


    width:100%;


    align-items:center;


    text-align:center;


}



.footer__column a,
.footer__column span {


    font-size:18px;


}



.footer__social a {


    font-size:18px;


    justify-content:center;


}



.footer__bottom {


    flex-direction:column;


    justify-content:center;


    align-items:center;


    text-align:center;


    gap:20px;


}



.footer__bottom div {


    justify-content:center;


}



}