h1{
    color:White;
}
h2{
    color:White;
}

.firsBlockMain{
    margin: 100px 0  0  0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.slider{
    
}

.Title{
    width: 500px;
}

.additionalBlockWrapperTitle{
    font-size: 20px;
}

.additionalParagraph{
    color: rgba(255, 255, 255, 0.69);
    font-size: 18px;
    width: 900px;
    text-align:justify;
  text-align-last:justify;
  
}

.additionalBlockWrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.additionalBlock{
    gap: 30px;
    height: 120px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.additionalBlockWrapperParagraph{
   
}

.secondBlockOurProject{
    margin: 80px 0 0 0;
}

/* Our Recipe ,Steps */

.ourRecipeWrapper{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 100px 0 100px;
}

.fifthBlockFAQWrapper{
    margin-top: 80px;
}