.dataPickerTime{
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.available-times {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.time-slot {
    padding: 10px 15px;
    background: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease;
}

.time-slot:hover {
    background: #e0e0e0;
}

.time-slot.selected {
    background: #c2e0ff; 
    border: 2px solid #007bff;
}
