.portfolio-card {
    width: 100%;
    max-width: 700px;
    /* CHANGE SIZE HERE */
    margin: 0 auto;
    text-align: left;
}

.portfolio-image-wrapper {
    position: relative;
    background: #3f3f3f;
    border-radius: 24px;
    padding: 24px;
    overflow: hidden;

    transition: transform 0.4s ease;
}

/* MAIN IMAGE */
.portfolio-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 18px;
    object-fit: contain;

    transform: scale(1.06);
    transition: transform 0.6s ease;
}

.portfolio-image-wrapper:hover .portfolio-image {
    transform: scale(1);
}
.portfolio-image-wrapper:hover {
    transform: translateY(-4px);
}

/* VIEW SITE BUTTON */
.view-site-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    color: black;
    padding: 10px 18px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.view-site-btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* TITLE */
.portfolio-title {
    margin-top: 16px;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
}