.pagetitle{
    display: flex;
     justify-content: center;
    color: white;
    font-size: 38px;
}
.imgWrapper{
    position: relative;
    overflow: hidden;
    width: 220px;
    height: 240px;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
}

.detailsWrapper{
    display: flex;
    justify-content: center;
    gap: 40px;
}


.mainDetails{
    
}

.formWrapper{
    display: flex;
    justify-content: center;
    margin: 30px 0  60px 0;
}

.serviceTitle{
    margin-top: 10px;
    margin-bottom: 12px;
    color:#FFF9CB;
    font-size: 32px;
}

.serviceDesc{
    width: 700px;
    margin: 0;
    color: white;
    font-size: 24px;
}



