.infoRow {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 30px;
transition: transform 0.3s ease-in-out;
}

.infoRow:hover{
  transform: scale(1.1);
}

.infoIconWrapper {
  width: 40px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.infoIcon {
  width: 50px;
  height: 50px;
  color: #000;
}

.infoText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.infoText h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;

}

.infoText p {
  margin: 0.25rem 0 0;
  font-size: 0.95rem;
  color: #555;
  text-align: left;
}

.infoText a {
  color: inherit;
  text-decoration: none;
}

.infoText a:hover {
  text-decoration: underline;
}

