/* CARD */
.project-card {
    cursor: pointer;
}

.project-image {
    overflow: hidden;
    border-radius: 24px;
    margin-bottom: 1.25rem;
    aspect-ratio: 4 / 3;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.project-card:hover img {
    transform: scale(1.1);
}