/* CARD */
.project-card {
    cursor: pointer;
}

.project-image {
    overflow: hidden;
    border-radius: 24px;
    margin-bottom: 1.25rem;
    aspect-ratio: 4 / 3;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.project-card:hover img {
    transform: scale(1.1);
}

.work_tag {
    font-size: 13px;
    color: #3b82f6;
    margin-bottom: 8px;
}


.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    line-height: 1.6;
    color: #94a3b8;
}